## Задача 1

### На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def summa_fruits(**kwargs):
    summa = 0
    for key, value in kwargs.items():
        summa += value
    return summa
print('Oбщее количество фруктов на складе', summa_fruits(bananas = 3, apple = 5, mango = 1, orange = 10))

Oбщее количество фруктов на складе 19

## Задача 2

### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [2]:
ls = [100, 125, -90, 345, 655, -1, 0, 200]

In [3]:
def sum_list(ls: list) -> float:
    ls = [i for i in ls if i >= 0]
    return sum(ls)

In [4]:
print('Cуммарные затраты = ', sum_list(ls))

Cуммарные затраты =  1425

## Задача 3

### Даны два списка.

In [5]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', 
         '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', 
         '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', 
         '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
         '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [6]:
summa_for_days = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 
                  4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 3.1 Найдите, какая выручка у компании в ноябре

In [7]:
len(dates) == len(summa_for_days)

True

In [8]:
from datetime import datetime

In [9]:
november = [summa_for_days[i] for i in range(len(dates)) if datetime.strptime(dates[i], "%Y-%m-%d").date().month == 11]
print ('Выручка у компании в ноябре = ', sum(november))

Выручка у компании в ноябре =  25098

### 3.2 Найдите выручку компании в зависимости от месяца

In [10]:
def revenue_by_month (ls1 : list, ls2: list) -> dict:
    zip_ls = [(i[0][5:7], i[1]) for i in zip(ls1, ls2)]
    dictionary = {i[0]:0 for i in zip_ls}
    for i in zip_ls:
        dictionary[i[0]] += i[1]
    return dictionary

In [11]:
print('Выручка компании по месяцам', revenue_by_month(dates, summa_for_days))

Выручка компании по месяцам {'09': 25647, '12': 45452, '10': 28645, '11': 25098}